.articleContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 100%;
}

.pillStrip {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.moreLike {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
